<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home [Rahul Gopinath]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css.php?fontsize=<? echo $_COOKIE['fontsize']; ?>" />
    <link rel="stylesheet" type="text/css" href="css/elements.css.php" />
</head>

<body>
    
<table class="mid_mid" id="body">
 <tr><td>
<?
include("topimages.tmpl");
?>
 </td></tr>
 <tr><td class="center_top">

 <table class="center" id="frame">
  <tr><td><div style='color:black; background:black'>
     <!-- RULE --><div class="rule"></div>
     <!-- MENU -->
<?
include("menu.tmpl")
?>
     <!-- RULE --><div class="rule"></div>
     </div>
  <td><tr>
  <tr><td>
  <div id="page">
    <!-- [BODY -->
    <div id="content">
     <!-- [CONT --><div id="text">
<!-- ============================================================================ -->

